.sidebar {
 flex: 0.35;
 display: flex;
 flex-direction: column;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;

}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 35px;
    width: 100%;
    background-color: white;
}

.sidebar__searchContainer > input {
        border: none;
        margin-left: 10px;
        outline-width: 0cm;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    margin: 10px;
     
}

.sidebar__chats {
    background-color: white;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    
}



